tr a {
    color:black;
}
p{
    word-wrap: break-word;
}
.waves-effect waves-light btn-small{
    margin: 10px;
}
.display-none{
    display: none;
}

.info-edit a{
    color:black;
    margin-right:20px;
}
.home{
    min-height: 500px; 
}
.page-footer{
    margin-top: 20px;
}
.searchField{
    margin-top: 30px;
}
.info{
    min-height: 600px;

}

