tr a {
    color:black;
}
p{
    word-wrap: break-word;
}
.waves-effect waves-light btn-small{
    margin: 10px;
}

.info-edit a{
    color:black;
    margin-right:20px;
}
.home{
   margin-bottom: 35px;
}
.page-footer{
    margin-top: 20px;
}
.searchField{
    margin-top: 30px;
}

.errorText{
    margin-top: -20px;
}

